*.swp
*.gemtags
*.tags*
.DS_Store

# Local configs
config/config.rb

# Code coverage reports
coverage*

# Test data
test/data/ontology_files/parse
test/data/ontology_files/repo
test/data/ontology_files/catalog-v001.xml
migration/test*

# RubyMine editor files
.idea

# Sublime editor files
*.sublime-project
*.sublime-workspace

# Rbenv artifacts
.ruby-version
test/test_run.log

# Debug output
create_permissions.log

# jEnv
.java-version

# solr configsets, these are generated with a script
test/solr/configsets/term_search
test/solr/configsets/property_search
